
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}


@media (min-width: 768px) {
    .main.active {
        margin-left: 0;
        width: 100%;
    }

    .md\:ml-64 {
        margin-left: 16rem;
    }

    .md\:hidden {
        display: none;
    }

    .md\:w-\[calc\(100\%-256px\)\] {
        width: calc(100% - 256px);
    }

}
